@import '../../../styles/variables.scss';
@import '../../../styles/buttons.scss';

.question-list {
    display: flex;
    flex-direction: column;
    flex: 1 1 90%;
    gap: 0.2em;
    //padding: .2em 2em 2em 2em;
    color: $scope-details-text-color;
}

app-section {
    flex: 1 1 0;
    padding: .2em;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 1em;
    margin: .5em;
}

//adjust formatting for desktop browsers
@media screen and (min-width: 1000px) {
    app-section {
        flex: 1 1 40%;

    }

    button { 
        min-height: 5em;
        flex: 0 1 10%;
    }
}

//adjust for ultrawide browsers
@media screen and (min-width: 1800px) {
    .question-list {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
}